<!DOCTYPE html>
<html>

<head>
    <title>
        Slack Page
    </title>
    <meta charset='utf-8' />
    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
    <link rel="manifest" href="/fav/site.webmanifest">
    <link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/slack.css' rel='stylesheet' />


    <meta name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />




</head>

<body>
    <div class="page">
        <section class="page_section">
            <div class="page_content hero_section">



                <div class="hero">
                    <div class="hero_content">
                        <span class="hero_liba">Slack Features</span>
                        <h1 class="hero_title">One platform for your team and your work</h1>
                        <p class="hero_info double_line">All the features of Slack work together so you can, too.</p>
                        <div class="hero_buttons">
                            <a href="#" class="button button_primary click">Try for free</a>
                            <a href="#" class="button button_secondary click">See all features</a>
                        </div>
                        <img src="/img/hero.png" alt="hero" class="hero_img">
                    </div>
                </div>

                <div class="brands">
                    <img src="/img/airbnb-logo.png.png" alt="brand" class="brand_img">
                    <img src="/img/uber.png.png" alt="brand" class="brand_img">
                    <img src="/img/logo-onemedical.png.png" alt="brand" class="brand_img">
                    <img src="/img/logo-newscorp.png.png" alt="brand" class="brand_img">
                    <img src="/img/us-department-of-veteran-affairs.png.png" alt="brand" class="brand_img">
                    <img src="/img/intuit.png.png" alt="brand" class="brand_img">
                    <img src="/img/logo-sonos.png.png" alt="brand" class="brand_img">
                </div>
            </div>
        </section>
    </div>

    <section class="page_section page_section_light">
        <div class="page_content features_section ">
            <h2 class="feature_title">Work more easily with everyone</h2>
            <p class="features_description double_line">Stay on the same page and make decisions faster by bringing all
                of your
                work communication into one place.</p>


            <div class="features_grid_4">
                <div class="feat_card">
                    <span class="icon feat_icon" style="background-image: url('/img/svg/connect.svg');"></span>
                    <stron>Slack Connect</stron>
                    <p class="double_line">Collaborate with teams at other companies the same way you do
                        with
                        teams at your own.</p>
                    <a href="#" class="icon icon_arrow click feat_link"></a>
                </div>

                <div class="feat_card">
                    <span class="icon feat_icon" style="background-image: url('/img/svg/chanel.svg');"></span>
                    <stron>Channels</stron>
                    <a href="#" class="icon icon_arrow click feat_link"></a>
                </div>

                <div class="feat_card">
                    <span class="icon feat_icon" style="background-image: url('/img/svg/huddles.svg');"></span>
                    <stron>Huddles</stron>
                    <a href="#" class="icon icon_arrow click feat_link"></a>
                </div>

                <div class="feat_card">
                    <span class="icon feat_icon" style="background-image: url('/img/svg/clips.svg');"></span>
                    <stron>Clips</stron>
                    <a href="#" class="icon icon_arrow click feat_link"></a>
                </div>

                <div class="feat_card">
                    <span class="icon feat_icon" style="background-image: url('/img/svg/canvas.svg');"></span>
                    <stron>Canvas</stron>
                    <a href="#" class="icon icon_arrow click feat_link"></a>
                </div>

                <div class="feat_card">
                    <span class="icon feat_icon" style="background-image: url('/img/svg/messaging.svg');"></span>
                    <stron>Messaging</stron>
                    <a href="#" class="icon icon_arrow click feat_link"></a>
                </div>

                <div class="feat_card">
                    <span class="icon feat_icon" style="background-image: url('/img/svg/accesssbility.svg');"></span>
                    <stron>Accessibility</stron>
                    <a href="#" class="icon icon_arrow click feat_link"></a>
                </div>

            </div>
        </div>
    </section>

    <section class="page_section page_section_light">
        <div class="page_content need_section">
            <div class="need_head">
                <h1 class="feature_title">What you need, when you need it</h1>
                <p class="need_text double_line">Spend less time shuffling tabs with a comprehensive message archive and
                    all your work tools at your fingertips.</p>
            </div>

            <div class="features_grid_3">
                <div class="feat_card">
                    <span class="icon feat_icon" style="background-image: url('/img/svg/need1.svg');"></span>
                    <stron>Apps and Integrations</stron>
                    <p class="double_line">Streamline work by connecting
                        Slack with other services like
                        Google Drive, Office 365 and
                        over 2,200 more.</p>
                    <a href="#" class="icon icon_arrow click feat_link"></a>
                </div>
                <div class="feat_card">
                    <span class="icon feat_icon" style="background-image: url('/img/svg/need2.svg');"></span>
                    <stron>Workflow Builder</stron>
                    <p class="double_line">Automate routine actions and
                        communication, so you can get
                        back to the kind of work only
                        humans can do.</p>
                    <a href="#" class="icon icon_arrow click feat_link"></a>
                </div>

                <div class="feat_card">
                    <span class="icon feat_icon" style="background-image: url('/img/svg/need3.svg');"></span>
                    <stron>Search</stron>
                    <a href="#" class="icon icon_arrow click feat_link"></a>
                </div>

                <div class="feat_card">
                    <span class="icon feat_icon" style="background-image: url('/img/svg/need4.svg');"></span>
                    <stron>File sharing</stron>
                    <a href="#" class="icon icon_arrow click feat_link"></a>
                </div>

            </div>
        </div>
    </section>

    <section class="page_section">
        <div class="page_content delivero_section">
            <img src="/img/deliveroo.png" alt="deliveroo" class="delivero_img">
            <div class="delivero_content">
                <p class="delivero_text">“The thing that keeps us connected
                    the most is Slack. It’s a very
                    immediate and straightforward
                    method of communication, and
                    really the only channel that people
                    prefer and enjoy using.”</p>
                <img src="/img/deliveroo_logo.png" alt="deliveroo" class="delivero_logo_img">
                <p class="delivero_podpis">Will Sprunt, CIO, Deliveroo</p>
            </div>


        </div>
    </section>


</body>

</html>