{{#with data}}
<div class="card">
    <img class="card_img" src="{{photo}}" alt="гарненька рандомна картиночка">
    {{#if isNew}} <span class="liba">NEW</span>{{/if}}
    <h2 class="card_title">{{name}}</h2>
    <p class="card_text">{{description}}</p>
    <a class="card_button" href="#">Read All</a>
</div>
{{/with}}